.tablink:hover{background-color:#777;}
.tabcontent{color:white;display:none;padding:40px 10px 15px 0px;text-align:center;background-color: #FFFFFF;}
/*.tabcontent{color:white;display:none;padding:40px 15px 15px 15px;text-align:center;}*/
.button{background-color:white;color:black;width:50%;float:right;border:none;}
.button:focus{border-bottom:4px solid #b23136;}
.sharetextarea{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;color:black;font-size:11px;width:100%;height:70px;padding:3px;}
.stardesign{padding-left:25px;margin-top:15px;display:inline-block;height:42px;width:42px;}
.stardesign:hover{opacity:1;}
.staropa{opacity:0.2;}
.f1{background:url(https://101.fincarebank.com/101/images/unhappy.png) no-repeat top left;background-size:35px;}
.f2{background:url(https://101.fincarebank.com/101/images/sad.png) no-repeat top left;background-size:35px;}
.f3{background:url(https://101.fincarebank.com/101/images/confused.png) no-repeat top left;background-size:35px;}
.f4{background:url(https://101.fincarebank.com/101/images/happy.png) no-repeat top left;background-size:35px;}
.f5{background:url(https://101.fincarebank.com/101/images/inlove.png) no-repeat top left;background-size:35px;}