@font-face{font-family:'Muli';font-style:normal;font-weight:300, 400, 600, 700, 800, 900;src:local('Muli Regular'), local('Muli-Regular'), url(../fonts/muli_font/7Auwp_0qiz-afT3GLRrX.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Muli';font-style:normal;font-weight:300, 400, 600, 700, 800, 900;src:local('Muli Regular'), local('Muli-Regular'), url(../fonts/muli_font/7Auwp_0qiz-afTzGLRrX.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Muli';font-style:normal;font-weight:300, 400, 600, 700, 800, 900;src:local('Muli Regular'), local('Muli-Regular'), url(../fonts/muli_font/7Auwp_0qiz-afTLGLQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
body.pri{background-color:#ffffff !important;color:#333;}
body{font-family:'Muli'!important;font-weight:400;font-size:0.875em;line-height:1.42857143;-webkit-text-size-adjust:100%;-webkit-font-feature-settings:"kern" 1;-o-font-feature-settings:"kern" 1;font-feature-settings:"kern" 1;-webkit-font-kerning:normal;font-kerning:normal;}
.pst-simp.pri{box-shadow:none !important;background:#ffffff;}
.plt-simp{margin:0em !important;}
.pst-simp > div{padding:0em !important;}
*{box-sizing:border-box;margin:0px;}
.header{object-fit:contain;font-family:Muli;font-size:20px;font-weight:600;color:#191c1f;margin-top:26px;text-align:center;/*padding-left:20px;padding-right:20px;*/}
.h6{display:block;font-size:0.67em;margin-block-start:2.33em;margin-block-end:2.33em;margin-inline-start:0px;margin-inline-end:0px;font-weight:bold;}
.hide{display:none;}
.landing{width:100%;height:0px auto;background:#FFFFFF;overflow:auto;}
.navbar{width:100%;height:50px;box-shadow:0 1px 4px 0 rgba(0, 0, 0, 0.25);background-color:#f8f8f8; margin-bottom:0px !important;}
.logo-pos{padding-top:6px;text-align:center;}
.banner-pos{margin:0 auto;padding:26px 0;display:block;}
.footer{width:100%;height:45px;background-color:#b23136;color:#fff;left:0;/*bottom:0;*/text-align:center;padding:10px 0 0 0;margin:20px auto 0 auto;font-size:13px;position: absolute;}
.footer p {background-color:#b23136 !important;}
.cont-divhead{font-family:Muli;font-size:18px;font-weight:600;font-style:normal;font-stretch:normal;line-height:1.52;letter-spacing:normal;color:#333333;padding:24px 29px 22px;text-align:center;}
.cons-hd-ac{display:block !important;font-family:Muli !important;font-size:16px !important;font-weight:600 !important;font-style:normal !important;font-stretch:normal !important;line-height:1.52 !important;letter-spacing:0.4px !important;color:#333333 !important;padding-left:14px;padding-top:33px;pointer-events:all !important;}
.cons-txt-ac{display:block;font-family:Muli;font-size:14px;font-weight:normal;font-style:normal;font-stretch:normal;line-height:1.52;letter-spacing:normal;color:#333333;padding-left:14px;padding-right:20px;padding-left:20px;}
.cons-hd-inac{display:block !important;font-family:Muli !important;font-size:16px !important;font-weight:600 !important;font-style:normal !important;font-stretch:normal !important;line-height:1.52 !important;letter-spacing:0.4px !important;color:#999999 !important;padding-left:14px;padding-top:33px;pointer-events:none !important;}
.cons-txt-inac{display:block;font-family:Muli;font-size:14px;font-weight:normal;font-style:normal;font-stretch:normal;line-height:1.52;letter-spacing:normal;color:#999999;padding-right:20px;padding-left:20px;}
.new-hd-ac{display:block !important;font-family:Muli !important;font-size:15px !important;font-weight:600 !important;font-style:normal !important;font-stretch:normal !important;line-height:1.52 !important;letter-spacing:0.4px !important;/*olor:#333333 !important;*/color:#d11b22 !important;padding:15px 0px;}
.new-hd-inac{display:block !important;font-family:Muli !important;font-size:15px !important;font-weight:600 !important;font-style:normal !important;font-stretch:normal !important;line-height:1.52 !important;letter-spacing:0.4px !important;color:#999999 !important;padding:15px 0px;}
.input-rd{-webkit-appearance:none;-moz-appearance:none;appearance:none;display:inline-block;width:16px !important;height:16px !important;padding:3px !important;background-clip:content-box;border:2px solid #c3c3c3;border-radius:50%;}
.input-rd:checked{background-color:#b23136;border:2px solid #b23136;}
.rd-text{font-family:Muli;font-size:14px;font-weight:normal;font-style:normal;font-stretch:normal;line-height:1.52;letter-spacing:-0.8px;color:#999999;}
.button-inac{width:280px;padding:15px 0;box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);background-color:#e0adaf;border-radius:50px;border:none;margin:50px auto 0 auto;text-align:center;display:block;font-family:Open Sans;font-size:16px;font-weight:600;line-height:normal;letter-spacing:0.6px;color:#ffffff;}
.button-ac{width:280px;padding:15px 0;box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);background-color:#b23136;border-radius:50px;border:none;margin:50px auto 0 auto;text-align:center;display:block;font-family:Open Sans;font-size:16px;font-weight:600;line-height:normal;letter-spacing:0.6px;color:#ffffff;pointer-events:all;}
.button-txt{font-family:Open Sans;font-size:16px;font-weight:600;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:0.6px;color:#ffffff;}
.clsdiv{border-radius:5px;background-color:#f2f2f2;padding:20px;color:#000;}
.cls-div-disabled{opacity:0.5;pointer-events:none;}
.cls-div-enabled{opacity:1;pointer-events:all;}
input{width:100%;padding:12px 20px 12px 0; margin:0px 0 10px 0 !important; display:inline-block;border:1px solid #ccc;box-sizing:border-box;}
input[type=select]{width:100%;padding:12px 20px;margin: 0px 0 10px 0 !important; display:inline-block;border:1px solid #ccc;border-radius:4px;box-sizing:border-box;}
.custom-select{position:relative;border-bottom-width:1px;border-bottom-style:solid;border-color:#ccc;width:100%;}
.custom-select select{display:none;}
.select-selected{background-color:#fff;}
.select-selected:after{position:absolute;content:"";top:14px;right:10px;width:0;height:0;border:6px solid transparent;border-color:#b23136 transparent transparent transparent;}
.select-selected.select-arrow-active:after{border-color:transparent transparent #b23136 transparent;top:7px;}
.select-items div,.select-selected{color:#000;padding:8px 16px;border:1px solid transparent;border-color:transparent transparent rgba(0, 0, 0, 0.1) transparent;cursor:pointer;user-select:none;margin-bottom:8px;margin-top:8px;border:none;}
.select-items div{border:1px solid #ddd;box-shadow:0 0 1.5px 0 rgba(0, 0, 0, 0.15);}
.select-items{position:absolute;background-color:#ffffff;border-radius:2px;top:100%;left:0;right:0;z-index:99;margin-top:8px;}
.select-hide{display:none;}
.select-items div:hover, .same-as-selected{background-color:#fef2f2;}
.styled-checkbox{position:absolute;opacity:0;}
.styled-checkbox + label{position:relative;cursor:pointer;padding:0;}
.styled-checkbox + label:before{content:'';margin-right:10px;display:inline-block;vertical-align:text-top;width:22px;height:22px;background:#FFF;border-radius:4px;border:1px solid #DDD;}
.styled-checkbox:hover + label:before{background:#b23136;}
.styled-checkbox:focus + label:before{box-shadow:0 0 0 3px rgba(0, 0, 0, 0.12);}
.styled-checkbox:checked + label:before{background:#b23136;}
.styled-checkbox:disabled + label{color:#b8b8b8;cursor:auto;}
.styled-checkbox:disabled + label:before{box-shadow:none;background:#ddd;}
.styled-checkbox:checked + label:after{content:'';position:absolute;left:6px;top:11px;background:white;width:3px;height:3px;box-shadow:2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;transform:rotate(45deg);}
.unstyled{margin:0;padding:0;list-style-type:none;}
li{margin:12px 0;}
.forms-ac{margin:0px;}
.forms-ac span{font-family:Muli;font-size:13px;font-weight:normal;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal;color:#000000;display:block;}
.forms-ac input{font-family:Muli;font-size:15px;font-weight:normal;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal;padding:5px 5px 5px 0px;border-bottom:1px solid #f6881f;pointer-events:all;margin-bottom:15px;}
input{width:100%;margin:0;border-top:0px;border-right:0px;border-left:0px;transition:ease-in-out 0.25s;background:#fafafa;}
.forms-ac select{text-transform:none;width:100%;padding:10px 10px 10px 0px;background-color:#fafafa;border:none;border-bottom:1px solid #999; margin-bottom: 10px;}
.forms-inac{margin:0px;}
.forms-inac span{font-family:Muli;font-size:13px;font-weight:normal;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal;color:#999999;display:block;}
.forms-inac input{font-family:Muli;font-size:15px;font-weight:normal;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal;padding:5px 5px 5px 0px;border-bottom:1px solid #CCCCCC;pointer-events:none;margin-bottom:15px;}
input{width:100%;margin:0;border-top:0px;border-right:0px;border-left:0px;transition:ease-in-out 0.25s;background:#fafafa;}
.forms-inac select{text-transform:none;width:100%;padding:10px 10px 10px 0px;background-color:#fafafa;border:none;border-bottom:1px solid #999;}
.forms-inval{margin:0px;}
.forms-inval span{font-family:Muli;font-size:13px;font-weight:normal;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal;color:red;padding-top:25px;}
.forms-inval input{font-family:Muli;font-size:15px;font-weight:normal;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal;padding:5px 5px 5px 0px;border-bottom:1px solid red;pointer-events:all;margin-bottom:15px;}
input{width:100%;margin:0;border-top:0px;border-right:0px;border-left:0px;transition:ease-in-out 0.25s;background:#fafafa;}
.btn{font-family:Muli;font-size:14px;font-weight:600;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:-0.3px;color:#f6881f;border:none;background-color:inherit;float:left;margin-top:-9px;position:relative;text-align:right;width:auto;padding:2px 2px 0 0;}
.btn-resend{font-family:Muli;font-size:14px;font-weight:600;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:-0.3px;color:#f6881f;border:none;background-color:inherit;margin-top:-50px;position:relative;}
.modal{overflow-y:auto !important;}*
.smartphone{display:block;margin:30px auto;width:70px;height:70px;}
.modal input{margin-bottom:6px;}
.otp-header{font-family:Muli;font-size:20px;font-weight:600;font-style:normal;font-stretch:normal;line-height:1.5;letter-spacing:-0.5px;color:#595b5c;margin:20px 20px 0 20px;text-align:center;}
.otp-label-cont{font-family:Muli;font-size:16px;font-weight:600;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:-0.5px;color:#999999;margin-top:10px;text-align:center;}
.otp-dis{font-family:Muli;font-size:16px;font-weight:600;font-style:normal;font-stretch:normal;line-height:normal;color:#0c0c0d;margin-top:20px;text-align:center;}
.modal li{list-style-type:decimal;margin-left:20px;padding-left:6px;text-align:left;font-weight: normal;font-size:14px;}
.otp-li-header{font-family:Muli;font-size:20px;font-weight:600;font-style:normal;font-stretch:normal;line-height:1.5;color:#595b5c;text-align:center;display:block;}
.margint-15{margin-top:15px;}
.forms input{color:#000 !important;margin-right:5px;margin:10px auto;width:90%;padding:10px;text-align:center;font-size:24px;letter-spacing:10px;text-decoration:underline;display:block;}
.otp-no{font-family:Muli;font-size:14px;font-weight:600;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:normal;color:#999999;text-align:center;margin-top:20px;margin-bottom:18px;border: none;background-color: inherit;}
.card{box-shadow:0 2px 4px 0 rgba(0,0,0,0.2);transition:0.3s;width:100%;margin-bottom:20px !important;margin-top:20px;padding-bottom:20px;padding-top:3px;padding-left:5px;background:#fff; margin-bottom:20px;}
.card:hover{box-shadow:0 4px 4px 0 rgba(246, 136, 31, 1);}
.card input {margin: 5px 0 -3px 0 !important; display: inline-flex;}
.card label{font-family:Muli;font-size:14px;font-weight:600;color:#b23136;padding-left:5px;display: inline-flex; margin-top: -23px;}
.chkbox-address{margin-bottom:0px;height:auto;}
.chkbox-address label{float:left;width:92%;position:relative;margin-top:0px;text-align:left;}
.chkbox-address input{float:left;width:3%;position:relative;margin-top:5px;margin-right:7px;width:16px;height:16px;}
fieldset{border:none; padding:0; width: 100%; height: 25px !important}
audio, canvas, iframe, img, svg, video{vertical-align:inherit;}
.span_on_img{text-align:center;padding:10px;display:block;margin:0 auto 10px auto;/* width:228px; */}
.span_on_img img{text-align:center;padding:10px;display:block;margin:0 auto 15px auto;width:auto;height:150px;}
@media (max-width:279px){body{display:none;}
}
@media (min-width:280px) and (max-width:600px){
	.header{object-fit:contain;font-family:Muli;font-size:18px;font-weight:600;color:#191c1f;/*margin-top:26px;*/ margin-top:0px; text-align:center;/*padding-left:20px;padding-right:20px;*/}
.step-bar table{/*margin:15px auto !important;*/ margin:5px auto !important;border-collapse:unset;min-width:80%; width: 100% !important; background-color: #fafafa !important;}
	.new-width{width: 95%; display: block; margin: 0 auto;}/* add all width*/
.cont-div{background-color:#fafafa;width:95%;padding:10px 15px 50px 15px;/*margin:15px auto 0px auto;*/ margin:10px auto 0px auto; border-radius: 25px; }
.cont-div-dbt{background-color:#ffffff;width:90%;padding:10px;margin:0 5%;}
.button-inac{width:60%;padding:12px 0;box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);background-color:#e0adaf;border-radius:50px;border:none;margin:50px auto 0 auto;text-align:center;display:block;font-family:Open Sans;font-size:14px;font-weight:600;line-height:normal;letter-spacing:0.6px;color:#ffffff;}
.button-ac{width:60%;padding:12px 0;box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);background-color:#b23136;border-radius:50px;border:none;margin:50px auto 0 auto;text-align:center;display:block;font-family:Open Sans;font-size:14px;font-weight:600;line-height:normal;letter-spacing:0.6px;color:#ffffff;pointer-events:all;}
.modal-box{width:80% !important;height:52% !important;position:absolute !important;border-radius:5px !important;background-color:#fff !important;left:50% !important;top:50% !important;transform:translate(-50%, -50%) !important;text-align:center !important;}
#spanradio_no_dbt_seeded label{width:89%;float:right;}
#spanradio_no_dbt_seeded input{float:left;margin:5px 3px 20px 0px;}

/*.modal-box input{text-align:center;padding:15px;border-bottom:1px solid #CCCCCC;margin:10px 0;}*/
.modal-box input {
    text-align: center;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    width: 30px;
    margin: 15px 4px 0 0;
    height: 30px;
}
	.alert-msg{
color: #000000;
text-align: center;
font-size: 4vw;
font-weight: normal;
padding-bottom: 5px;
margin-bottom: 5px;
}
}
@media (min-width:600.5px){
.new-width{width:75%; display: block; margin: 0 auto;}/* add all width*/
.cont-div{background-color:#fafafa;width:95%;padding:10px 15px 50px 15px;margin:15px auto 60px auto; border-radius: 25px;}
.step-bar table{margin:15px auto !important;border-collapse:unset;max-width:80%; width: 100%; background-color: #FaFaFa !important;}
.cont-div-dbt{background-color:#ffffff;width:90%;padding:10px;margin:0 5%;}
.card{box-shadow:0 2px 4px 0 rgba(0,0,0,0.2);transition:0.3s;margin-bottom:20px !important;margin-top:20px;padding:20px;background:#fff;}
.modal-box{width:250px;height:auto;position:absolute;border-radius:5px;background-color:#fff;margin:0 auto;}
#spanradio_no_dbt_seeded label{width:93%;float:left;margin-left:5px;}
#spanradio_no_dbt_seeded input{float:left;margin:5px 10px 20px 0px;}
.progressbar{padding:25px 0;counter-reset:step;width:600px;margin:0 auto;display:block;height:80px;max-width:80%;}
.modal-box input{
	text-align: center;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    width: 35px;
    margin: 15px 3px 0 0;
    height: 35px;
}
	.alert-msg{
color: #000000;
text-align: center;
font-size: 18px;
font-weight: normal;
padding-bottom: 5px;
margin-bottom: 5px;
}
}
.cont-div select{width:100%;display:block;padding:8px 8px 8px 0;background-color:#fafafa;border:none;border-bottom:1px solid #CCC; margin-bottom:10px;}
a:link{color:red;}
a:visited{color:green;}
a:hover{color:hotpink;}
a:active{color:blue;}
#spanradio_no_dbt_seeded{padding:0 5px;}
#spanradio_no_dbt_seeded input{float:left;margin:5px 3px 20px 0px;}
#dropdown_dbt_bank_list{width:75%;margin:0 auto;}
#text_tnc_text ol{margin-left:0px;text-align:justify;}
.srb li, .srb > span, .srb > dd, .srb > dt{display:block;}
#text_tnc_text li{list-style-type:decimal;font-size:12px;}
.card img{margin-right:10px;/* margin-top:5px; */width:22px;height:22px;margin-left:15px;float: left}
.progressbar{padding:25px 0;counter-reset:step;width:600px;margin:0 auto;display:block;height:80px;counter-reset:step;max-width:80%;}
.progressbar li{list-style-type:none;width:25%;float:left;font-size:18px;position:relative;text-align:center;text-transform:uppercase;color:#848484;}
.progressbar li:before{width:30px;height:30px;content:counter(step);counter-increment:step;line-height:30px;border:2px solid #848484;display:block;text-align:center;margin:0 auto 10px auto;border-radius:50%;background-color:#FFFFFF;}
.progressbar li:after{width:100%;height:2px;content:'';position:absolute;background-color:#f6881f;top:15px;left:-50%;z-index:-1;}
.progressbar li:first-child:after{content:none;}
.progressbar li.active{color:#FFFFFF;}
.progressbar li.active:before{border-color:#f6881f;background-color:#f6881f;}
.progressbar li.active + li:after{background-color:#f6881f;}
.container{position:relative;text-align:center;color:white;}
.timer{position:relative;display:block;margin:0px auto;width:100%;height:50px;}
.timetick{font-family:Muli;font-size:20px;font-weight:normal;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:0.3px;color:#b01d22;position:relative;padding-left:20px;top:-38px;}
select[readonly]{background:#eee;cursor:no-drop;}
select[readonly] option{display:none;}
.checked{color:orange;}
.rating-chkbox fieldset{margin-bottom:5px;display:block;}
.rating-chkbox input{float:left;width:10%;margin:3px 5px 10px 0;}
.rating-chkbox label{width:90%;text-align:left;}
.custom-rating-input{width:100% !important;height:65px;border:1px solid #CCC;margin-bottom:25px !important;padding:10px;font-size:16px;font-weight:400;}
#channel_otp{text-align:left;padding-top:0px;color:#333;margin-bottom:0px;margin-top:0px;}
.add-header{display:block !important;font-family:Muli !important;font-size:18px !important;font-weight:600 !important;font-style:normal !important;font-stretch:normal !important;line-height:1.52 !important;padding:14px 14px 14px 14px;}
.custom-labeltxt{display:block;color:#333333 !important;}
#spanaadharverify_radio_otp_recieve label{/*margin-right:15px;*/width:88%; line-height: 20px; display: inline-flex;}
#spanaadharverify_radio_otp_recieve input{/*width:5%;*/ margin:0px 2px -2px 0px !important; display: inline-flex;}
#spanrd-same_as_comm_address_yn label{width:88%; line-height: 20px; display: inline-flex;}
#spanrd-same_as_comm_address_yn input{margin:0px 5px -2px 0px !important; display: inline-flex;}
.btm-space{margin-bottom:40px;}
.btm-space15{margin-bottom:15px;}
.btm-space20{margin-bottom:20px;}
.input-rd-none{-webkit-appearance:none;-moz-appearance:none;appearance:none;display:inline-block;width:16px !important;height:16px;padding:3px;background-clip:content-box;border:2px solid #c3c3c3;border-radius:50%;}
.input-rd-none:checked{background-color:#b23136;border:2px solid #b23136;}
u{float:right;}
.margin-space-input{margin:6px 0px -3px 22px;}
.margin-space-label{margin:0 8px 0 0;}
.modal-box span{display:block;text-align:center;padding:2px 2px 0 0;}
.modal-box label{display:block;text-align:center;padding:2px 2px 0 0;}
.step-bar{margin: 5px auto 15px auto; /*margin:25px auto;*/ display: block; max-width: 90%;}
.step-bar .steps{color:#000;border:1px solid #DDD;width:28;height:28;/*padding:8px 5px 10px 5px;*/ text-align:center;vertical-align:middle;cursor:pointer;border-radius:100%;display:table-cell;font-size: 13px; padding-top:4px;}
.step-bar .pro-line{border-bottom:2px solid #f6881f;margin:auto 10px;width:auto;top:-12px;position:relative;}
.step-bar .current{color:#FFFFFF;background-color:#f6881f;border:2px solid #f6881f;}
.step-bar .crossed{color:#FFFFFF;background-color:#CCCCCC;border:2px solid #CCCCCC !important;opacity:0.4;cursor:none;}
.cards-txt{display:block;font-family:Muli;margin-top: 15px;font-size:12px;font-weight:normal;font-style:normal;font-stretch:normal;line-height:1.52;letter-spacing:normal;color:#333333;padding-right:5px;padding-left:5px;}
.dbt-hd{display:block !important;font-family:Muli !important;font-size:16px !important;font-weight:600 !important;font-style:normal !important;font-stretch:normal !important;line-height:1.52 !important;letter-spacing:0.4px !important;color:#333333 !important;padding-top:33px;pointer-events:all !important;}
.select2-container{width:100% !important;}
.select2-results li{padding:1px 5px;margin:2px 0;}
.select2-container--default .select2-search--dropdown .select2-search__field{border:1px solid #b2b2b2;height:2.429em;outline:0;border-radius:0.214em;padding-right:0.857em;padding-left:2em;background-image:url("images/search.png") !important;background-repeat:no-repeat;background-size:1.2em;background-position:0.7%;}
.select2-container--default .select2-selection--single .select2-selection__arrow{height:26px;position:absolute;top:1px;right:1px;width:20px;/*background-image:url("images/down-arrow.png") !important;*/background-repeat:no-repeat;background-size:0.9em;background-position:0.7%;}
.off{pointer-events:none;}
.display-pghd{display:block !important;font-family:Muli !important;font-size:14px !important;font-weight:600 !important;font-style:normal !important;font-stretch:normal !important;line-height:1.52 !important;letter-spacing:0.4px !important;color:#333333 !important;padding:10px 0 0 0;}
.display-pghd input{padding:0;font-weight:normal;}
.btn-vfd{width:14%;box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);background-color:#008000;border-radius:50px;border:none;text-align:center;font-family:Open Sans;font-size:10px;font-weight:normal;line-height:normal;color:#ffffff !important;pointer-events:all;position:relative;float:right;margin:6px 0 0 0;padding:3px;}
.btn-verify{width:14%;box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);background-color:#b23136;border-radius:50px;border:none;text-align:center;font-family:Open Sans;font-size:10px;font-weight:normal;line-height:normal;letter-spacing:0.6px;color:#ffffff !important;pointer-events:all;float:right;margin:6px 0 0 0;padding:3px;}
.btn-verify-inac{width:14%;box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);background-color:#e0adaf;border-radius:50px;border:none;text-align:center;font-family:Open Sans;font-size:10px;font-weight:normal;line-height:normal;color:#ffffff !important;pointer-events:all;position:relative;float:right;margin:6px 0 0 0;padding:3px;}
.btn-tc{font-family:Muli;font-size:14px;font-weight:600;font-style:normal;font-stretch:normal;line-height:normal;letter-spacing:0.3px;color:#f6881f;border:none;background-color:inherit;position:relative;text-align:right;width:auto;padding:2px 2px 0 8px;display:inline-block;}
.button-tc{width:auto;padding:15px;box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);background-color:#b23136;border-radius:50px;border:none;text-align:center;display:inline-block;font-family:Open Sans;font-size:14px;font-weight:600;line-height:normal;letter-spacing:0.6px;color:#ffffff;pointer-events:all;}
.bttn-tc-group{width:100%;left:0;bottom:0;position:fixed;background:#f8f8f8;padding-top:20px;}
.forms-w90{width:86%;}
.modal-tc-dbt{width:85% !important;height:auto !important;position:absolute !important;border-radius:5px !important;background-color:#fff !important;left:50% !important;top:50% !important;transform:translate(-50%, -50%) !important;text-align:left !important;}
.modal-tc ol{margin:0px 8px;}
.modal-top{position:fixed;padding:20px;height:80%;width:100%;left:0;top:0;overflow:auto;}
.modal-tc{width:90% !important;height:80% !important;position:absolute !important;border-radius:5px !important;background-color:#fff !important;left:50% !important;top:50% !important;transform:translate(-50%, -50%) !important;text-align:center !important;padding:15px 5px;}
.otp-pw {margin: 0 auto;text-align: center;}

.cont-leadhead {
    font-family: Muli;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.52;
    letter-spacing: normal;
    color: #333333;
    padding: 5px 5px 15px 0px;
    text-align: left;
}
.close-img {
    float: right;
    width: 23px;
    height: 23px;
    /* display: block; */
    margin-top: -10px;
    margin-right: -12px;
    cursor: pointer;
}
/*.close-img:hover {
    box-shadow:0 4px 4px 0 rgba(246, 136, 31, 1);
}*/

.prod-hd {
    display: block !important;
    font-family: Muli !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: 1.52 !important;
    letter-spacing: 0.4px !important;
    color: #f6881f !important;
    padding: 2px 5px 2px 2px;
    pointer-events: all !important;
}

.know-more {
    display: block;
    width: 100%;
    background-color: transparent;
    border: none;
    color: #f6881f;
    text-align: right;
    padding: 15px 5px 0 0;
    cursor: pointer;
    font-size: 13px;

}

.know-more:hover {
    color: #d11b22;

}

.table, .table tr, .table td{
    border-collapse: collapse;
    border: 1px solid #CCC;
    border-spacing: 0;
	
}

.table td{
	text-align:center;
	padding:0px 7px;
	font-size:13px;
}

.table tr:nth-child(even){
	background-color:#ededed;
}

.nav {
	position: absolute;
    top: 70px;
    width: 100%;
    height: 100%;
    z-index: 100;
    padding: 0px;
	background: #fff;
	overflow-x: hidden;
}

.pagebody {
	position: relative;
}

#menu {
	margin-right: 13px;
    margin-top: 9px;
	cursor: pointer;
	width:20px;
	height: 20px;
}

.hilights{display: block;width: 320px;/*margin: 15px auto;*/ margin: 15px auto 10px auto;}
.set1{display: inline-block;width: 100px;padding: 0px 3px;}
.hilights-txt{font-family: 'Muli', sans-serif;font-size: 12px;font-weight: 400;color: #666;	padding: 0 2px;text-align: center;}
.img-svg{text-align: center;}	
.modal-phd{display:block !important;font-family:Muli !important;font-size:16px !important;font-weight:600 !important;font-style:normal !important;font-stretch:normal !important;line-height:1.52 !important;letter-spacing:0.4px !important;color:#d11b22 !important;padding:15px 0;pointer-events:all !important;}
.md-button.active {
    background-color: #d11b22;
    color: #FFF;
    padding: 7px;
    border: 1px solid #d11b22;
	float: left;
	width: 50%;
}
.md-button{
    background-color: #FFFFFF;
    color: #787878;
    padding: 7px;
    border: 1px solid #787878;
	float: left;
	width: 50%;
}
.menu_privacy h4, .h4 {
    font-size: 14px;
    font-weight: bold;
}
.pad-top {
    padding: 15px 0 0 5px;
	text-align: left;
}
#about_content p {
    background-color: #FFF;
    padding: 10px;
    width: 100%;
    margin: 0;
}
.trems-list {
    background-color: #FFF;
    padding: 5px;
}
#menu_privacy h4, p, ol, table {
    background-color: #FFF !important;
    padding: 5px;
    margin: 0 !important;
}
.nopan-head {
    font-family: Muli;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.52;
    letter-spacing: normal;
    color: #b23136;
    padding: 24px 29px 22px;
    text-align: center;
}
::onfocus{
	outline: none;
}
::select{
	background-color: #000000;
	color: #FFFFFF;
}
input:focus{
	
	outline: none;
}
button:focus{
	outline:none;
}
select:focus{
	outline: none;
}
.tabcontent textarea{
	padding:0px !important;
}

.kyc-hd-ac {
    display: block !important;
    font-family: Muli !important;
    font-size: 15px !important;
    font-weight: normal;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: 1.52 !important;
    letter-spacing: 0.4px !important;
    color: #333333 !important;
    padding: 15px 0px;
}
.kyc-space20{margin-left: 10px;}

.close-imgkyc {
         float: left;
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
    margin-top: 15px;
    cursor: pointer;
    margin-right: 5px;
    position: absolute;
    top: 85px;
}

.button-popup{
	    width: 50%;
    padding: 12px 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    background-color: #b23136;
    border-radius: 50px;
    border: none;
    margin: 15px auto;
    text-align: center;
    display: block;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #ffffff;
    pointer-events: all;
}
.button-popupinac{
	    width: 50%;
    padding: 12px 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    background-color: #b7aaab;
    border-radius: 50px;
    border: none;
    margin: 15px auto;
    text-align: center;
    display: block;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #ffffff;
    pointer-events: all;
}


.new-mob-hd-ac{display:block !important;font-family:Muli !important;font-size:15px !important;font-weight:600 !important;font-style:normal !important;font-stretch:normal !important;line-height:1.52 !important;letter-spacing:0.4px !important;/*olor:#333333 !important;*/color:#191c1f !important;padding:15px 0px;}

.new-mob-hd-dc{display:block !important;font-family:Muli !important;font-size:15px !important;font-weight:600 !important;font-style:normal !important;font-stretch:normal !important;line-height:1.52 !important;letter-spacing:0.4px !important;/*olor:#333333 !important;*/color:#191c1f !important;padding:10px 0px;}


/*First page content */

/*.banner1-h1 {
    color: #4c4848;
    padding-bottom: 15px;
    font-weight: 600;
    font-size: 42px;
}*/

.banner1-h1 {
    color: #b01d22;
    font-weight: 600;
    font-size: 17px;
    margin-top: 18px;
    display: block;
    text-align: center;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.banner1-pic {
    float: none;
    width: 100%;
}
.banner1-p1 {
    color: #666;
    font-size: 15px;
    text-align: center;
	background-color: #fafafa !important;
}

/*.banner1-p1 {
    color: #666;
    font-size: 20px;
    padding-bottom: 30px;
}*/
/*.ban1-content {
    padding: 45px 28px 80px 28px;
}*/

.ban1-content {
    padding: 30px 0px 20px 0px !important;
/*	border-bottom: 15px solid whitesmoke;	*/
}

.ban1-content img{
	max-width: 300px;
	margin: 0 auto;
	display: block;
	height: auto; width:100%;	
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}
::select{
	outline: none;
}
.select2-dropdown{
	border: none;
}
.qr_on_img{
	text-align: center;
    padding: 10px;
    display: block;
    margin: 0 auto 10px auto;
    width: auto;
    height: 70%;
}
.new-hd-ac hr { padding: 0; margin: 8px 0; border: 1px solid #ffd800;}
.new-hd-ac h2 {
    color: #fcb315;
    padding: 0 0 10px 0;
    margin: 0 0 0 0;
    font-size: 1.7em;
    font-weight: 700;
    -webkit-text-fill-color: transparent;
transition: background-image .25s ease-in-out;
background-image: linear-gradient(to left, #b01d21, #e11c23, #f05223, #f6881f, #f89b1c, #fcb315, #ffd800);
    -webkit-background-clip: text;
}
.new-hd-ac p { background-color: transparent !important; font-size: 14px; color:  #000;}
.new-hd-ac .new-time { color:  #f36c21; font-size: 16px; font-weight: 700;} 

.backalert {
display: none;width: 100%;height: 100%;position: fixed;top:0;left:0;bottom:0;right:0;
background-color: rgba(0,0,0, 0.8);transition: 0.5s;z-index: 998;}

/* .backalert {display: none;width: 100%;height: 100%;position: fixed;top:0;right:0;background: rgb(0,0,0);z-index: 998;} */

/* 
.confirm-msg {background-color: #fff;border: 1px solid #eee;width: 300px;height: auto;padding: 10px 20px;
text-align: center;border-radius: 12px;left: 50%;top: 25%;position: absolute;margin: 0 auto 0 -150px;} */

.confirm-msg {background-color: #fff;border: 1px solid #eee;border-radius: 1em; 
                padding: 2em;position: absolute;width:350px; height:auto;
                top: 40%;left: 50%;margin-right: -50%;transform: translate(-50%, -50%)}
    

.confirm-msg button {
background-color: #A8060A;
border-radius: 50px;
border: 1px solid #A8060A;
padding: 5px;
text-align: center;
width: 110px;
cursor: pointer;
color: #FFFFFF;
font-weight:bold;
margin: 0 auto;
display: block;
margin-top: 20px;
}

.confirm-msg .message {
    text-align: center;
    color: #151414;
    font-size: 2.5vw;
    line-height: 18px;
    font-family: 'Montserrat', sans-serif;
}
.alert-msg{
color: #000000;
text-align: center;
font-size: 17px;
font-weight: normal;
padding-bottom: 5px;
margin-bottom: 5px;
}

.backdrop {
width: 100%;
height: 100%;
position: fixed;
/*background: rgb(0,0,0);*/
opacity: 0.8;
z-index: 999;
}

#spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 70px;
    width: 70px;
    margin-left: -35px;
    margin-top: -35px;
}
.modal-b{text-align: center !important;}

.button-ac-desktop{width:280px;padding:15px 0;box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);background-color:#b23136;border-radius:50px;border:none;margin:30px auto 0 auto;text-align:center;display:block;font-family:Open Sans;font-size:16px;font-weight:600;line-height:normal;letter-spacing:0.6px;color:#ffffff;pointer-events:all;}

.button-funac{width:auto;padding:15px 20px;box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);background-color:#b23136;border-radius:50px;border:none;margin:30px auto 0 auto;text-align:center;display:block;font-family:Open Sans;font-size:16px;font-weight:600;line-height:normal;letter-spacing:0.6px;color:#ffffff;pointer-events:all;}

.button-inpopup{
        width: 50%;
    padding: 12px 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    background-color: #e0adaf;
    border-radius: 50px;
    border: none;
    margin: 15px auto;
    text-align: center;
    display: block;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #ffffff;
    
}
/*.new-width{width:90%; display: block; margin: 0 auto;} add all width*/
#checkbox_offer_avail_benfits label {
    display: inline-flex;
    width: 87%;
/*    margin-top: -50px;*/
    line-height: 21px;
}
#checkbox_offer_avail_benfits input {
    display: inline-flex;
    margin: 0px 4px 0 5px !important;
    padding: 5px;
    height: 16px;
    width: 16px;
}

.btm-space30 {
    margin-bottom: 20px;
    margin-right: 20px;
}

.button-nc {
    width: auto;
    padding: 15px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    background-color: #b23136;
    border-radius: 4px;
    border: none;
    text-align: center;
    display: inline-block;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #ffffff;
    pointer-events: all;
}

.button-fc {
    width: auto;
    padding: 15px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    background-color: #fafafa;
    border-radius: 50px;
    border: none;
    text-align: center;
    display: inline-block;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #191818;
    pointer-events: all;
}