.btn-wid{width:50%;}
.image_resp{height:200px;width:200px;}
@media only screen and (max-width: 767px) {
  .btn-wid{width:100%;height:45px;font-size:1.1em;}
  .image_resp{height:128px;width:174px;}
}

h5 {
  font-size: 26px;
  background: -webkit-linear-gradient(orange, #A8060A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.line-style{
  border:1px solid orange;
}
.button-popup {
    width: 50%;
    padding: 12px 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    background-color: #b23136;
    border-radius: 50px;
    border: none;
    margin: 15px auto;
    text-align: center;
    display: block;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.6px;
    color: #ffffff;
    pointer-events: all;
}
.btn-wid{width:50%;}
@media only screen and (max-width: 767px) {
.img-resp{
  height:30px;width:30px;
}
.btn-wid{width:100%;height:50px;font-size:1.1em;}
.modal-dialog {
    min-height: calc(100vh - 20px);
  }
}

.modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}


 #wait {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0,0,0,0.8);
  flex-direction: column;
  color: #777777;
  text-align: center;
  font-size: 1em;
  } 
  
  #wait-container {
  background: white;
  padding: 20px;
  border-radius: 7px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 30%;
  height: 140px;
  } 